@page "/"
@inject Auth Auth

<PageTitle>Home</PageTitle>

<h1>Recipe Shopper</h1>

@if (Auth.LoggedIn) {
    <h3>Welcome, @Auth.Email.</h3>
}

Discover, save, and shop your favorite recipes, all in one place.
Recipe Shopper makes meal planning easy by storing your go-to dishes and instantly generating smart shopping lists from your selected recipes.